<div class='recommend' id='recommend'>
  <div>
    <ul class="nav nav-tabs">
      <li><span class="left"></span><a href="#" flag="nav" relate="custormer_demand_wrap" class="bg_eee">Customer Demand</a><span class="left"></span></li>
      <li><a href="#" flag="nav" relate="vendor_profile_wrap">Vendor Profile</a></li>
      <li><a href="#" flag="nav" relate="asin_profile_wrap">ASIN Profile</a></li>
      <li><a href="#" flag="nav" relate="cost_profile_wrap">Finance</a></li>
      
    </ul>
  </div>
  <%= form_tag({:controller => "recommend", :action => "deal"}, :method => "post", :class => "setting_form") do %>
    <div style="display:none">
      <input type='text' name="fulfil_name" value="<%= @fulfil_name %>" />
    </div>
    <div class="session_content" id="custormer_demand_wrap">
      <h4 style="color:orange" class="hide">Customer Demand Profile</h4>
      <div class="input_elements">
        <div class="input_element">
          <%= label_tag(:shipment_ratio, "Multiple Units per shipment") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:shipment_ratio, 1.0, :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">units</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:shipment_ratio_up, 1.2,:class=>"margin_lr_5 width_35 align_center") %><span class="add-on">units</span>
            </div>
            <p class="muted hide">Units per shipment. Discuss with Bill when the ratio > 1.2, the ASIN should be in FC.</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="input_element">
          <%= label_tag(:multiple_units_per_order, "Multiple Units Per Order") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:multiple_units_per_order, 1.0, :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">units</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:multiple_units_per_order_up, 1.3, :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">units</span>
            </div>
            <div class="splitLine"></div> 
            <p class="muted"></p>
          </div>
          <div class="splitLine"></div>
        </div>

        <div class="input_element button_submit">

          <input type="button" attr="next_button" value="Next" relate="custormer_demand_wrap" next="vendor_profile_wrap" />
          <div class="splitLine"></div>
        </div>
        
        <div class="splitLine"></div>
      </div>
    </div>

    <div class="session_content" id="vendor_profile_wrap" style="display:none">
      <h4 style="color:orange" class='hide'>Vendor Profile</h4>
      <div class="input_elements">
        <div class="input_element">
          <%= label_tag(:low_weekly_volumes, "weekly volume") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:low_weekly_volumes, "1", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">units</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:low_weekly_volumes_up, "10", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">units</span>
            </div>

            <div class="splitLine"></div>
            <p class="muted">Average weekly Velocity of the ASIN.</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        <div class="input_element">
          <%= label_tag(:high_variability_of_demand_weekly, "Variability of demand") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:high_variability_of_demand_weekly, "10", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:high_variability_of_demand_weekly_up, "120", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>

            <p class="muted">We measure Variability of Demand by standard deviation of volume/average volume</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        <div class="input_element">
          <%= label_tag(:high_peakiness, "Peakiness") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:high_peakiness, "1.5", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:high_peakiness_up, "55.5", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <p class="muted">we measure peakiness by proportion fo volume in peak weeks, from week of thanks giving to end of year.</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="input_element">
          <%= label_tag(:high_customer_returns, "Customer returns") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:high_customer_returns, "1.5", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:high_customer_returns_up, "5.5", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <span>/Quarter</span>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        <div class="input_element">
          <%= label_tag(:high_vendor_returns, "Vendor returns") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:high_vendor_returns, "1.5", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:high_vendor_returns_up, "5.5", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <span>/Quarter</span>

          </div>
          <div class="splitLine"></div>
        </div>

        <div class="input_element button_submit">
          <input type="button" attr="pre_button" value="Prepage" relate="vendor_profile_wrap" pre="custormer_demand_wrap" />
          <input type="button" attr="next_button" value="Next" relate="vendor_profile_wrap" next="asin_profile_wrap" />
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
      </div>
    </div>

    <div class="session_content" id="asin_profile_wrap" style="display:none">
      <h4 style="color:orange" class='hide'>ASIN Profile</h4>
      <div class="input_elements">
        <div class="input_element hide">
          <%= label_tag(:slow_moving, "Slow Moving") %>
          <div class="element">
            <%= text_field_tag(:slow_moving, 1.2) %>
            <p class="muted">Slow moving in drop ship/fast moving vendor-flex/does not matter in 3PL</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        <div class="input_element">
          <%= label_tag(:high_cube, "Dimension") %>
          <div class="element">
            <div class="cube_size">
              <%= label_tag(:cube_length, "Length") %>
              <div class="cube_input">
                <span>between</span>
                <div class="input-append">
                  <%= text_field_tag(:cube_length, "0.3", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">inches</span>
                </div>
                <span>and</span>
                <div class="input-append">
                  <%= text_field_tag(:cube_length_up, "44", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">inches</span>
                </div>
              </div>
            </div>
            <div class="cube_size">
              <%= label_tag(:cube_width, "Width") %>
              <div class="cube_input">
                <span>between</span>
                <div class="input-append">
                  <%= text_field_tag(:cube_width, "0.2", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">inches</span>
                </div>
                <span>and</span>
                <div class="input-append">
                  <%= text_field_tag(:cube_width_up, "44", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">inches</span>
                </div>
              </div>
            </div>
            <div class="cube_size">
              <%= label_tag(:cube_height, "Height") %>
              <div class="cube_input">
                <span>between</span>
                <div class="input-append">
                  <%= text_field_tag(:cube_height, "0.1", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">inches</span>
                </div>
                <span>and</span>
                <div class="input-append">
                  <%= text_field_tag(:cube_height_up, "44", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">inches</span>
                </div>

              </div>
            </div>
            
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        <div class="input_element">
          <%= label_tag(:hazmat_compatibility, "Hazmat Compatibility") %>
          <div class="element">
            <input checked=true value="0" name="hazmat_compatibility" id="hazmat_compatibility" type="checkbox" />
            <div class="mwui-switch-btn" style="display:none;"><span _id="multiple_units_per_order" style="top:0px" change="OFF">ON</span></div>
            <div class="mwui-switch-btn" ><span _id="multiple_units_per_order" style="top:0px" change="ON" class="off">OFF</span></div>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        <div class="input_element">
          <%= label_tag(:overbox_gift_wrap, "Overbox/gift wrap") %>
          <div class="element">
            <input checked=true value="1" name="overbox_gift_wrap" id="overbox_gift_wrap" type="checkbox" />
            <div class="mwui-switch-btn"><span _id="multiple_units_per_order" style="top:0px" change="OFF">ON</span></div>
            <div class="mwui-switch-btn" style="display:none;"><span _id="multiple_units_per_order" style="top:0px" change="ON" class="off">OFF</span></div>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        <div class="input_element">
          <%= label_tag(:multibox, "Multibox") %>
          <div class="element">
          <input checked=true value="0" name="multibox" id="multibox" type="checkbox" />
          <div class="mwui-switch-btn" style="display:none;"><span _id="multiple_units_per_order" style="top:0px" change="OFF">ON</span></div>
            <div class="mwui-switch-btn"><span _id="multiple_units_per_order" style="top:0px" change="ON" class="off">OFF</span></div>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        <div class="input_element">
          <%= label_tag(:sioc, "SIOC") %>
          <div class="element">
          <input checked=true value="0" name="sioc" id="sioc" type="checkbox" />
          <div class="mwui-switch-btn" style="display:none;"><span _id="multiple_units_per_order" style="top:0px" change="OFF">ON</span></div>
            <div class="mwui-switch-btn"><span _id="multiple_units_per_order" style="top:0px" change="ON" class="off">OFF</span></div>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        <div class="input_element hide">
          <%= label_tag(:high_risk_of_unhealthy_stock, "High risk of unhealthy stock") %>
          <div class="element">
            <input checked=true value="1" name="high_risk_of_unhealthy_stock" id="high_risk_of_unhealthy_stock" type="checkbox" />
            <div class="mwui-switch-btn"><span _id="multiple_units_per_order" style="top:0px" change="OFF">ON</span></div>
            <div class="mwui-switch-btn" style="display:none;"><span _id="multiple_units_per_order" style="top:0px" change="ON" class="off">OFF</span></div>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        

        <div class="input_element button_submit">
          <input type="button" attr="pre_button" value="Prepage" relate="asin_profile_wrap" pre="vendor_profile_wrap" />
          <input type="button" attr="next_button" value="Next" relate="asin_profile_wrap" next="cost_profile_wrap" />
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
      </div>
    </div>

    <div class="session_content" id="cost_profile_wrap" style="display:none">
      <h4 style="color:orange" class="hide">COST Profile</h4>
      <div class="input_elements">
        <div class="input_element">
          <%= label_tag(:average_list_price, "List Price") %>
          <div class="element">
            <span>between</span>
            <div class="input-prepend">
              <span class="add-on">$</span><%= text_field_tag(:average_list_price, "1", :class=>"margin_lr_5 width_35 align_center") %>
            </div>
            <span>and</span>
            <div class="input-prepend">
              <span class="add-on">$</span><%= text_field_tag(:average_list_price_up, "1666", :class=>"margin_lr_5 width_35 align_center") %>
            </div>

            <p class="muted">Average List Price on www.amazon.com.</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>

        <div class="input_element">
          <%= label_tag(:average_cost_of_goods, "Cost of Goods") %>
          <div class="element">
            <span>between</span>
            <div class="input-prepend">
              <span class="add-on">$</span><%= text_field_tag(:average_cost_of_goods, "1", :class=>"margin_lr_5 width_35 align_center") %>
            </div>
            <span>and</span>
            <div class="input-prepend">
              <span class="add-on">$</span><%= text_field_tag(:average_cost_of_goods_up, "678", :class=>"margin_lr_5 width_35 align_center") %>
            </div>

            <p class="muted">Average Cost of Goods.</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>

        <div class="input_element">
          <%= label_tag(:variability_of_cogs, "Variability of Cost of Goods") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:variability_of_cogs, "0.3", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:variability_of_cogs_up, "400", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>

            <p class="muted">We measure Variability of Cost of Goods by standard deviation of Cost of Goods/average Cost of Goods.</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
        
        <div class="input_element">
          <%= label_tag(:average_ship_charge, "Ship Charge") %>
          <div class="element">
            <span>between</span>
            <div class="input-prepend">
              <span class="add-on">$</span><%= text_field_tag(:average_ship_charge, "0.3", :class=>"margin_lr_5 width_35 align_center") %>
            </div>
            <span>and</span>
            <div class="input-prepend">
              <span class="add-on">$</span><%= text_field_tag(:average_ship_charge_up, "110", :class=>"margin_lr_5 width_35 align_center") %>
            </div>

            <p class="muted">Average Ship Charge Per Item.</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>

        <div class="input_element">
          <%= label_tag(:proportion_of_fcpu, "Proportion of FCPU") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:proportion_of_fcpu, "54", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:proportion_of_fcpu_up, "83.3", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <p class="muted">FCPU means fixed cost per unit.</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>

        <div class="input_element">
          <%= label_tag(:proportion_of_vcpu, "Proportion of VCPU") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:proportion_of_vcpu, "23.3", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:proportion_of_vcpu_up, "65.2", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <p class="muted">VCPU means variable cost per unit. We measure variable cost per unit by standard deviation of cost per unit/average cost per unit.</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>

        <div class="input_element">
          <%= label_tag(:proportion_of_tcpu, "Proportion of TCPU") %>
          <div class="element">
            <span>between</span>
            <div class="input-append">
              <%= text_field_tag(:proportion_of_tcpu, "0.3", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <span>and</span>
            <div class="input-append">
              <%= text_field_tag(:proportion_of_tcpu_up, "3.4", :class=>"margin_lr_5 width_35 align_center") %><span class="add-on">%</span>
            </div>
            <p class="muted">TCPU means transportation cost per unit.</p>
          </div>
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>

        <div class="input_element button_submit">
          <input type="button" attr="pre_button" value="Prepage" relate="cost_profile_wrap" pre="asin_profile_wrap" />
          <input type="submit" value="Submit" relate="cost_profile_wrap" />
          <div class="splitLine"></div>
        </div>
        <div class="splitLine"></div>
      </div>
    </div>


    <div class="session_content"  style="display:none">
      <h4 style="color:orange">Vendor Profile</h4>
      <div class="input_result">
        <p id="input_factors_show">Set factor weight can impact the result of recommendation. For example, List Price(0-1.0). If you set List Price be 0, then this factor may not make sense. While, if you set List Price be 1.0, then this factor will impact the result with max effort. So, if you do not sure how to set, just let it be default value. Then click submit button to submit your request.</p>
      </div>
    </div>
    <div class="session_content"  style="display:none">
      <h4 style="color:orange">ASIN Profile</h4>
      <div class="input_result">
        <p>When you submit, it may take some time to calculate and fatch data. So, be patient may help. But if it take more than 5 minutes, that may be anormal. If so, please let me know.<p>
      </div>
    </div>
    <div class="session_content" id="settings_submit" style="display:none">
      <%= submit_tag("Save") %>
    </div>
    
  <% end %>


  <div class="splitLine"></div>
  </div>

</div>
