<div class='recommend' id='recommend'>
  <h2>Selected ASINs by your defined settings</h2>

  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Settings<span class="muted collapsed-show" style="padding-left:20px;font-size:12px;">click to show</span><span class="muted collapsed-hide" style="padding-left:20px;font-size:12px;">click to hide</span>
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="span6">Setting Column</th>
                <th class="span6">Value</th>
              </tr>
            </thead>
            <tbody>
              <% @bound_seq.each do |bound_name| %>
                <% if bound_name[0] != '_split_ele' %>
                  <tr>
                    <td><%= @settings_map[bound_name[0]] %> </td>
                    <td>between <%= bound_name[1]+@local_params[bound_name[0]]+bound_name[2] %> to <%= bound_name[1]+@local_params[bound_name[0]+'_up']+bound_name[2] %></td>
                  </tr>
                <% else %>
                  <% @check_seq.each do |check_name| %>
                    <tr>
                      <td><%= @settings_map[check_name[0]] %> </td>
                      <td><%= @local_params[check_name[0]]=='0'? 'No' : 'Yes' %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="itemsContainer">
    <% @rec_items_final.each do |item| %>
      <% v = item %>
      <div class="item"> 
        <div class="itemInner">
          <div class="productImage">
            <img src=<%= v['img_url'] %> />
          </div>
          <div class="name"><%= v['name'] %></div>
          <div class="price">
            <!-- <span class="listPrice">$41.99</span> -->
            <span class="ourPrice">Price: $<%= v['cogs'] %></span>
          </div>
          <div class="weight">
            <span class="weightAll">Weight: <%= v['weight'] %></span>
          </div>
          <div class="reason">
            <%= link_to "Why recommended?", :controller => "recommend", :action => "sub_show", :id => v, :local_params => @local_params %>
          </div>
        </div>
      </div>
    <% end %>
    
  <div class="splitLine"></div>

  <div class="pageNav">
    <span class="previous_page"> <% if @id==0 %> Prepage <% else %> <%= link_to "Prepage", :controller => "recommend", :action => "show", :id => @id-1, :local_params=>@local_params%> <% end %> </span>
    <% for i in 0..@pre_id %>
      <span width="10px"><%= link_to "#{i+1}", :controller => "recommend", :action => "show", :id => i, :local_params=>@local_params %></span>
    <% end %>
    <% if @pre_flag == 1 %>
      <span width="10px">...</span>
    <% end %>
    <% for i in @bottom_id..@top_id %>
      <span width="10px" <% if @id==i %> class="diable" <% end %> > <% if @id==i %> <%= @id+1 %> <% else %> <%= link_to "#{i+1}", :controller => "recommend", :action => "show", :id => i, :local_params=>@local_params %> <% end %></span>
    <% end %>
    <% if @next_flag == 1 %>
      <span width="10px">...</span>
    <% end %>
    <% for i in @next_id...@page_cnt %>
      <span width="10px"><%= link_to "#{i+1}", :controller => "recommend", :action => "show", :id => i, :local_params=>@local_params %></span>
    <% end %>
    <span class="next_page <% if @id==@page_cnt-1 %> diable <% end %>"> <% if @id==@page_cnt-1 %> Next <% else %> <%= link_to "Next", :controller => "recommend", :action => "show", :id => @id+1, :local_params=>@local_params %> <% end %></span>
  </div>

  </div>

</div>
