<div class='recommend' id='recommend'>
  <h2>Selected ASINs by your defined settings</h2>
  <div class="itemsContainer">
    <% @rec_items_final.each do |item| %>
      <% v = item %>
      <div class="item"> 
        <div class="itemInner">
          <div class="productImage">
            <img src=<%= v['img_url'] %> />
          </div>
          <div class="name"><%= v['name'] %></div>
          <div class="price">
            <!-- <span class="listPrice">$41.99</span> -->
            <span class="ourPrice">Price: $<%= v['cogs'] %></span>
          </div>
          <div class="weight">
            <span class="weightAll">Weight: <%= v['weight'] %></span>
          </div>
          <div class="reason">
            <%= link_to "Why recommended?", :controller => "recommend", :action => "sub_show", :id => v, :local_params => @local_params %>
          </div>
        </div>
      </div>
    <% end %>
    
  <div class="splitLine"></div>

  <div class="pageNav">
    <span class="previous_page"> <% if @id==0 %> Prepage <% else %> <%= link_to "Prepage", :controller => "recommend", :action => "show", :id => @id-1, :local_params=>@local_params%> <% end %> </span>
    <% for i in 0..@pre_id %>
      <span width="10px"><%= link_to "#{i+1}", :controller => "recommend", :action => "show", :id => i, :local_params=>@local_params %></span>
    <% end %>
    <% if @pre_flag == 1 %>
      <span width="10px">...</span>
    <% end %>
    <% for i in @bottom_id..@top_id %>
      <span width="10px" <% if @id==i %> class="diable" <% end %> > <% if @id==i %> <%= @id+1 %> <% else %> <%= link_to "#{i+1}", :controller => "recommend", :action => "show", :id => i, :local_params=>@local_params %> <% end %></span>
    <% end %>
    <% if @next_flag == 1 %>
      <span width="10px">...</span>
    <% end %>
    <% for i in @next_id...@page_cnt %>
      <span width="10px"><%= link_to "#{i+1}", :controller => "recommend", :action => "show", :id => i, :local_params=>@local_params %></span>
    <% end %>
    <span class="next_page <% if @id==@page_cnt-1 %> diable <% end %>"> <% if @id==@page_cnt-1 %> Next <% else %> <%= link_to "Next", :controller => "recommend", :action => "show", :id => @id+1, :local_params=>@local_params %> <% end %></span>
  </div>

  </div>

</div>
