<div class='recommend' id='recommend'>
  <h2>Recommended item to DropShip</h2>
  <div class="itemsContainer">
      <div class="item">
        <div class="itemInner">
          <div class="productImage">
            <img src=<%= @reced_img_url %> />
          </div>
          <div class="name"><%= @reced_name %></div>
          <div class="price">
            <!-- <span class="listPrice">$41.99</span> -->
            <span class="ourPrice">Price: $<%= @reced_cogs %></span>
          </div>
          <div class="velocity">
            <span class="velocityAll">Vecocity: <%= @reced_velocity %></span>
          </div>
        </div>
      </div>
  <div class="splitLine"></div>
  </div>
  <h2>Reason for recommendation</h2>
  <div class="itemsContainer">
    <% @reced_reason_ds_res_items_all.each do |item| %>
      <% v = item %>
      <div class="item"> 
        <div class="itemInner">
          <div class="productImage">
            <img src=<%= v['img_url'] %> />
          </div>
          <div class="name"><%= v['name'] %></div>
          <div class="price">
            <!-- <span class="listPrice">$41.99</span> -->
            <span class="ourPrice">Price: $<%= v['cogs'] %></span>
          </div>
          <div class="velocity">
            <span class="velocityAll">Vecocity: <%= v['velocity'] %></span>
          </div>
          <div class="reason">
            <%= link_to "Compare with this?", :controller => "recommend", :action => "compare", :id => {:ds => v['asin'], :other => @reced_asin} %>
          </div>
        </div>
      </div>
      <% #break %>
    <% end %>
    
  <div class="splitLine"></div>
  </div>

</div>
