<div class="topbar clearfix">
  <div class="container" style="width:980px;">
    <a href="/"><h1 class="pull-left">External Fulfillment Management</h1></a>
    <div class="user pull-right">
      <i class="icon-user"></i>&nbsp;<%=@remote_user%>
    </div>
    <div class="settings pull-right">
      <a href="/">Settings</a>
    </div>
  </div>
</div> <!-- end top bar -->

<div class="container global-nav" style="width:980px;">
  <ul>
    <li style="border-left:none;" class="<%= 'active' if @active_tab == 'home' %>"><a href="/">Home</a></li>
    <li class="<%= 'active' if @active_tab == 'pipeline' %>"><a href="/">Pipeline</a></li>
    <li class="<%= 'active' if @active_tab == 'operations' %>"><a href="/">Operation</a></li>
    <li class="<%= 'active' if @active_tab == 'tools' %>"><a href="/">Tools</a></li> 
    <li class="<%= 'active' if @active_tab == 'issues' %>"><a href="/">Issues</a></li> 
    <li class="<%= 'active' if @active_tab == 'metrics' %>"><a href="/">Metrics</a></li>
  </ul>
  <%= form_tag("/nodes/search", :method => "get",:class=>"navbar-search pull-right", :style=>"margin-right: 5px;") do %>
    <input id="search-input" name="id" class="search-query" placeholder="Search " type="text"></input>
  <% end %>
</div>

